frontend/node_modules
frontend/dist
frontend/.env
venv
__pycache__/agent4.cpython-310.pyc
__pycache__/agent5.cpython-310.pyc
__pycache__/memory_manager.cpython-310.pyc
__pycache__/tools.cpython-310.pyc
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/darwin_arm64/terraform-provider-azurerm_v4.19.0_x5
learn-rg/.terraform.lock.hcl
learn-rg/azure_vm.tf
learn-rg/terraform.tfstate
learn-rg/terraform.tfstate.backup
learn-rg/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/darwin_arm64/LICENSE.txt
learn-rg/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/darwin_arm64/terraform-provider-azurerm_v4.19.0_x5
graphsetup.py
.terraform.lock.hcl
oldagents/
